*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	
	background-color: rgb(255, 255, 255);
	font-size: 1.6rem;
}

.nav {
	display: flex;
	background: rgb(230, 229, 229);
	.container {
		margin: 0 auto;
		width: 1400px;
		.nav-elements {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 8rem;
				

			.nav_ul{
				padding-right: 1.2rem;
				.li_item{
					display: inline-block;
					font-size: 2.2rem;
					font-weight: 100;
					padding: 1.2rem;
				}
				.li_item a{
					text-decoration: none;
					text-transform: uppercase;
				
					color: rgb(30, 28, 28);
				}
			}
			
		}
	}
}
